<div class="layout-config">
	<div class="layout-config-content-wrapper">
		<a href="https://www.facebook.com/" target="_blank" class="layout-config-button" id="layout-config-button" style="cursor: pointer; background-color: #3b5998;">
            <!-- <i class="fa fa-facebook" style="font-size:24px; margin-top:15px;"></i> -->
            <i class="fab fa-facebook-f" style="font-size:24px; margin-top:15px;"></i>
		</a>
	</div>
</div>
<div class="layout-config1">
	<div class="layout-config-content-wrapper">
		<a href="https://api.whatsapp.com/send?phone=+201005206413" target="_blank" class="layout-config-button" id="layout-config-button" style="cursor: pointer; background-color: #4AC959;">
			<i class="fab fa-whatsapp" style="font-size:24px; margin-top:15px;"></i>
		</a>
	</div>
</div>
<div class="layout-config2">
	<div class="layout-config-content-wrapper">
		<a href="https://www.instagram.com/" target="_blank" class="layout-config-button instagram" id="layout-config-button" style="cursor: pointer;">
			<i class="fab fa-instagram" style="font-size:24px; margin-top:15px;"></i>
		</a>
	</div>
</div>