<div class="steps">
    <h2 style="margin-bottom: 0px;">{{ 'steps.title' | translate}}</h2>
    <h6 style="margin-top: 0px;">{{'home.read_more' | translate}}</h6>

    <div class="p-grid">
        <div class="p-col">
            <button p-button class="btn-step">{{ 'steps.share' |translate }}</button>
        </div>
        <div class="p-col">
            <button p-button class="btn-step">{{ 'steps.compare' |translate }}</button>
        </div>
        <div class="p-col">
            <button p-button class="btn-step">{{ 'steps.save' |translate }}</button>
        </div>
    </div>
</div>