<header class="header">
        <!-- <app-navbar></app-navbar>
        <app-welcome></app-welcome> -->
        <app-nav-links></app-nav-links>
    </header>
<div class="complaints">



    <div class="container">
        <!-- <h1 class="title-page">
            {{'nav_list.about_us' | translate}}
        </h1> -->

        <div class="content" [innerHtml]="text">

        </div>
        
        
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-col-12"><a target="_blank" href="http://207.154.195.214/دليل حماية المتعاملين في التأمين.pdf" style="text-decoration: underline; cursor: pointer; margin-bottom: 60px;">دليل حماية المتعاملين فى التأمين</a></div>
            <div class="ui-grid-col-12"><a target="_blank" href="http://207.154.195.214/دليل حماية المتعاملين في التأمين.pdf"><img style="width:50%;" src="assets/images/163.jpg"/></a></div>
        </div>
    </div>
</div>
<app-contactus></app-contactus>
<app-footer></app-footer>