<div class="why">
    <h1 style="text-align:center; font-size: 40px;">
        {{'why.title' | translate}}
    </h1>
    <ol style="padding-top:10px;">
        <li><span>{{'why.reason1' | translate  }}</span></li>
        <li><span>{{'why.reason2' | translate  }}</span></li>
        <li><span>{{'why.reason3' | translate  }}</span></li>
        <li><span>{{'why.reason4' | translate  }}</span></li>
        <li><span>{{'why.reason5' | translate  }}</span></li>
        <li><span>{{'why.reason6' | translate  }}</span></li>
    </ol>
    <!-- <img src="assets/images/why.png" alt="why amenli image" width="100%"> -->
</div>