.img {
    width: 49% !important;
    margin-top: 0px !important;
}

.marg-img {
    width: 60% !important;
    margin-top: 78px !important;
}

@media screen and (max-width: 700px){
    .marg-img {
        width: 60% !important;
        margin-top: 15px !important;
    }
}