<section class="stepper">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            <div class="mdl-stepper-horizontal-alternative">
                <!-- step-done -->
                <div class="mdl-stepper-step  ">
                    <span style="padding-left: 3px !important;" class="num-counter  effect-on-num-counter {{ val == 'home' ? 'span-active': ''}}  effect-on-num-counter-mob ">1</span>
                    <div class="mdl-stepper-circle {{ val == 'home' ? 'active': ''}} "></div>
                    <div class="mdl-stepper-title">{{'stepper.plan' | translate}}</div>

                    <i [ngClass]="{
                        'pi': true, 
                        'pi-arrow-right': lang == 'en', 
                        'pi-arrow-left': lang == 'ar', 
                        'icon-arrow-right': lang == 'en', 
                        'icon-arrow-left': lang == 'ar'
                        }"></i>
                </div>
                <!-- editable-step -->
                <div class="mdl-stepper-step  ">
                    <span style="padding-left: 2px !important;" class="num-counter effect-on-num-counter effect-on-num-counter-mob {{ val == 'plan' ? 'span-active': ''}}">2</span>
                    <div class="mdl-stepper-circle  {{ val == 'plan' ? 'active': ''}}"></div>
                    <div class="mdl-stepper-title">{{'stepper.choose' | translate}}</div>

                    <i [ngClass]="{
                        'pi': true, 
                        'pi-arrow-right': lang == 'en', 
                        'pi-arrow-left': lang == 'ar', 
                        'icon-arrow-right': lang == 'en', 
                        'icon-arrow-left': lang == 'ar'
                        }"></i>
                </div>
                <div class="mdl-stepper-step ">
                    <span style="padding-left: 3px !important;" class="num-counter  effect-on-num-counter effect-on-num-counter-mob {{ val == 'checkout' ? 'span-active': ''}}">3</span>
                    <div class="mdl-stepper-circle  {{ val == 'checkout' ? 'active': ''}}"></div>
                    <div class="mdl-stepper-title">{{ 'stepper.checkout' | translate }}</div>
                </div>

            </div>
        </div>
    </div>
</section>