<header class="header">
        <!-- <app-navbar></app-navbar>
        <app-welcome></app-welcome> -->
        <app-nav-links></app-nav-links>
    </header>
<div class="aboutus">

    <div class="img-header">
        <img src="assets/images/aboutus.jpg" alt="aboutus image" width="100%">
    </div>

    <div class="container">
        <!-- <h1 class="title-page">
            {{'nav_list.about_us' | translate}}
        </h1> -->

        <div class="content" [innerHtml]="text">

        </div>
    </div>
</div>
<app-contactus ></app-contactus>
<app-footer></app-footer>