<!-- <p-carousel  [value]="collbrations" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template let-col pTemplate="item">
        <img class="img-res" [src]="col"/>
    </ng-template>
</p-carousel>

 -->
 <!-- <div class="carousel" data-flickity='{ "groupCells": true, "autoPlay": true }'>

 
    <div class="carousel-cell">
        <img class="img" src="assets/images/insurer1.png" />
    </div>
    <div class="carousel-cell">
        <img class="img" src="assets/images/insurer2.png" />
    </div>
    <div class="carousel-cell">
        <img class="img" src="assets/images/insurer3.png" />
    </div>
    <div class="carousel-cell">
        <img class="img" src="assets/images/insurer1.png" />
    </div>
    <div class="carousel-cell">
        <img class="img"  src="assets/images/insurer2.png" />
    </div>
    <div class="carousel-cell">
            <img class="img"  src="assets/images/insurer3.png" />
        </div>
</div> -->
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="assets/images/insurer1.png" width="50%" alt="insurer 1" />
		</div>
		<div class="slide">
			<img src="assets/images/insurer2.png" width="50%" alt="insurer 2" />
		</div>
		<div class="slide">
			<img src="assets/images/insurer3.png" width="50%" alt="insurer 3" />
		</div>
		<div class="slide">
			<img src="assets/images/insurer1.png" width="50%" alt="insurer 1" />
		</div>
		<div class="slide">
			<img src="assets/images/insurer2.png" width="50%" alt="insurer 2" />
		</div>
		<div class="slide">
			<img src="assets/images/insurer3.png" width="50%" alt="insurer 3" />
		</div>
	</div>
</div>