<!-- <section class="header-section  ">
    <div class="right-section {{ lang == 'en' ? 'right-section' : 'left-section' }} p-grid-4 p-justify-end">
       
        <div class="down p-col-align-center">
            <div class="search-box ">
                <div class="form-control ">
                    <span class="icon-search "><span class="pi pi-search "></span></span>
                    <input type="text " id="search" class="form-field " onfocus="this.placeholder = ''" onblur="this.placeholder = 'search'">
                </div>
            </div>
            <div class="icon-menu">
                <app-nav-list></app-nav-list>
            </div>
        </div>
    </div>
</section> -->

<section id="header  ">
    <div class="other-class">

        <div class="down ">
            <div class="search-box ">
                <div class="form-control ">
                    <span class="icon-search "><span class="pi pi-search "></span></span>
                    <input type="text " id="search" class="form-field " onfocus="this.placeholder = ''" onblur="this.placeholder = 'search'">
                </div>
            </div>
            <div class="icon-menu">
                <app-nav-list></app-nav-list>
            </div>
        </div>
    </div>
</section>