<section class="best-price">
    <p-card>
        <h3 style="color:black !important;">{{ 'card_price.title' | translate}}</h3>
        <h5>
            {{ 'card_price.title1' | translate}}
        </h5>
        <!-- <h6> {{ 'card_price.title2' | translate}} {{company_name}} </h6> -->

        <h2 style="font-family: Arial, Helvetica, sans-serif !important;
        padding-bottom: 1px;" class="price-num">{{price | number:'1.0-0' }}</h2>
        <h3 class="currency">{{ 'compare.currency_and_date' | translate }}</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <!-- <p>{{ validPrice() }}</p> -->
            <!-- [disabled]="!f.valid || !validPrice()" -->
            <!-- [disabled]="!f.valid || !validPrice()" -->
            <input type="hidden" name="price" #priceInput="ngModel" [ngModel]="price" requried>
            <button pButton type="submit" class="buy-now" [disabled]="!f.valid || !validPrice()">{{ 'card_price.buy_now' | translate }}</button>
        </form>
    </p-card>
    <p class="or" style="font-family: Circle-Light;">{{ 'card_price.or' | translate }}</p>
    <button pButton type="button" class="compare-btn" (click)="onClick()" [disabled]="!f.valid || !validPrice()">{{ 'card_price.go_compare' | translate }}</button>
    <!-- <app-compare-modal></app-compare-modal> -->
    <!-- <p style="font-family: Circle-Light;" class="other-compare">{{length}} {{ 'card_price.other' | translate }}</p> -->
    <p style="font-family: Circle-Light;" class="other-compare">أفضل عروض تأمين اخرى</p>
</section>