<!-- <link rel="stylesheet" href="assets/flickity.min.css">
    <script src="assets/flickity.pkgd.min.js"></script> -->
<header class="header">
    <!-- <app-navbar></app-navbar>
    <app-welcome></app-welcome> -->
    <app-nav-links></app-nav-links>
</header>
<div id="video-container">
    <!-- <app-video-header>
    </app-video-header> -->
    <app-slider></app-slider>
</div>
<div style="clear: both;"></div>
<div class="container">
    <app-quote-title></app-quote-title>
    <app-quotes #quote id="quotes"></app-quotes>
    
    <app-type-insurance ></app-type-insurance>
    
</div>
<div class="container">

    <app-why></app-why>
    <!-- <app-services></app-services> -->
    <!-- <app-steps-booking></app-steps-booking> -->
</div>
<!-- <app-testimonials></app-testimonials> -->
<div style="margin-bottom: -40px;">
    <!-- <app-partners></app-partners> -->
    <app-map></app-map>
</div>

<app-contactus></app-contactus>
<app-footer #section1 id="section1"></app-footer>